<div>
    <div class="container">
        <h1 class="header">Login</h1>

        <div class="row">
            <div class="col s12 m6 l6 offset-m3 offset-l3">


                <!--Login Form-->

                <form class="col s12" ng-submit="login(user)">
                    <div class="row">
                        <input-field class="input-field col s11">
                            <input id="email" type="email" class="validate" required="true"
                                   ng-model="user.email">
                            <label for="email" data-error="Invalid Email Format" data-success="Valid Email">Email</label>
                        </input-field>
                    </div>
                    <div class="row">
                        <input-field class="input-field col s12">
                            <a ng-click="toggleShowPassword()" class="right col s1 red-text"><i
                                    class="{{passIcon}} small"></i></a>
                            <input id="password" type="{{passType}}" class="validate col s11" required="true"
                                   ng-model="user.password">
                            <label for="password">Password</label>
                        </input-field>

                    </div>
                    <div class="row center">
                        <button class="btn waves-effect waves-light teal" type="submit">Login
                            <i class="mdi-content-send right"></i>
                        </button>
                    </div>
                </form>


            </div>
        </div>

    </div>
</div>