<div>
    <nav class="blue darken-2">
        <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">SJI CMS Dashboard</a>

            <div class="container">
                <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
                <ul id="slide-out" class="side-nav fixed">
                    <li class="avatar blue darken-2 valign-wrapper">
                        <div class="center navpic valign ">
                            <img ng-src="{{dpUrl}}" class="circle" style="width: 100%">
                            <p class="flow-text center">Hi Clinton {{user.username}}</p>
                        </div>
                    </li>
                    <li><a ui-sref="dashboard.home" class="waves-effect waves-light"><i class="mdi-action-home left"></i>Home</a></li>
                    <li><a ui-sref="dashboard.photos" class="waves-effect waves-light"><i class="mdi-image-photo left"></i>Photos</a></li>
                    <li><a ui-sref="dashboard.gigs" class="waves-effect waves-light"><i class="mdi-hardware-headset left"></i>Gigs</a></li>
                    <li><a ui-sref="dashboard.account" class="waves-effect waves-light"><i class="mdi-action-account-circle left"></i>Account Settings</a></li>
                    <li><a ng-click="logout()"><i class="mdi-action-exit-to-app left"></i>Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div ui-view></div>
</div>
