<div ng-init="fetchAdminDetails()">
    <div class="container">


        <div>
            <h1 class="header red-text thin">Admin Role Management</h1>

            <form ng-submit="createuser()">

                <h4 class=" header thin">Create new User</h4>

                <div class="row">
                    <div class="input-field col s12 m6 l6">
                        <input id="userName" type="text" class="validate" ng-model="newuser.name"
                               required="true">
                        <label for="userName">Username</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12 m6 l6">
                        <input id="userPass" type="text" class="validate" ng-model="newuser.password"
                               required="true">
                        <label for="userPass">Password</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12 m6 l6">
                        <input id="userEmail" type="email" class="validate" ng-model="newuser.email"
                               required="true">
                        <label for="userEmail">Email Address</label>
                    </div>
                </div>
                <div class="row">
                    <p>Select role</p>
                    <select class="input-field col s12 m6 l6 browser-default" ng-model="newuser.role"
                            ng-options="role.label for role in roles" ng-init="newuser.role = roles[1]">

                    </select>

                </div>

                <div class="row ">
                    <div class="col s12 m6 l6 center-align">
                        <button class=" btn waves-effect waves-light teal" type="submit">
                            Create User
                            <i class="material-icons right">create</i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div>
            <h1 class="header red-text thin">Current Administrators</h1>
            <table  class="responsive-table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Role</th>
                    <th>Email ID</th>
                    <th>Actions</th>
                </tr>
                </thead>

                <tbody>
                <tr ng-repeat="user in users">
                    <td>{{user.username}}</td>
                    <td>{{user.role}}</td>
                    <td>{{user.email}}</td>
                    <td><a class="waves-effect waves-light btn teal" ng-click="deletePerson($index)">Delete User</a></td>
                </tr>

                </tbody>
            </table>
            <p>* Only Admins can delete other users</p>
        </div>
    </div>
</div>