<div class="slider">
    <ul class="slides">
        <li>
            <img src="../frontend/assets/images/bg-1-responsive.svg">

            <div class="caption center-align">
                <h3>Welcome to SJI Blog!</h3>
                <h5 class="light grey-text text-lighten-3">Ipsum blogs posted everyday.</h5>
            </div>
        </li>
        <li>
            <img src="../frontend/assets/images/bg-2-responsive.svg">

            <div class="caption left-align">
                <h3>Funny Ipsums from all around the web and beyond</h3>
                <h5 class="light grey-text text-lighten-3">Yes. You'll understand them even if you're a martian.</h5>
            </div>
        </li>
        <li>
            <img src="../frontend/assets/images/bg-3-responsive.svg">

            <div class="caption right-align">
                <h3>Having a dull day?? Read a funny Ipsum</h3>
                <h5 class="light grey-text text-lighten-3">Unless you're in class or work. Then do what you're supposed
                    too.</h5>
            </div>
        </li>
    </ul>
</div>
<div class="container">
    <h1 class="header">About</h1>

    <div class="row">
        <div class="col s12">
            <p class="flow-text">SJI CMS is a tool used to help people post blogs with little or no coding experience.
                Just login, Type your post, Publish. As easy as 1,2,3 isn't it? And do you know whats the best part of all this?<br><br>Its totally free...Yes you heard me.. FREE<br><br>Now that you know what we are and what
                we do feel free to explore our various Lorem Ipsum Posts in the posts section and have a nice day. </p>

            <p class="flow-text">PS: Don't forget to comment your random thoughts in the comment section. Cheers</p>
        </div>
    </div>
</div>