<div class="container" ng-init="fetchPages()">
    <h1>Posts</h1>

    <div class="col s12 m8 l8">

        <ul class="collection" ng-repeat="page in pages | unique:'id'">
            <a href="#" ui-sref="home.pageinfo({id: {{page.id}} })">
                <li class="collection-item avatar">
                    <span class="title">{{page.post_title}}</span>

                    <p>Author - {{page.author_name}} <br>
                        Date Published - {{page.publish_date | myDate}}
                    </p>
                    <!--<a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>-->
                </li>
            </a>
        </ul>
        <div class="center" ng-hide="showLoader">
            <a class="waves-effect waves-light btn teal" ng-click="loadMore()">Load More
                Posts </a>
        </div>


        <div class="load-bar" ng-show="showLoader">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>
    </div>
</div>