<div class="container">
    <div id="Contact">
        <div class="container">
            <h1 class="header">Contact</h1>
        </div>
        <div class="container">
            <div class="row">
                <div class="col s12 m6 l6">
                    <h4 class="header center-align">Address</h4>

                    <p class="flow-text center-align">S-1, Second Floor, <br>Casa de Alegria,<br>
                        Nr. Verna Panchayat, Verna,<br>
                        Goa - 403722<br>India</p>
                </div>
                <div class="col s12 m6 l6">
                    <h4 class="header center-align">Contact Details</h4>

                    <div class="center-align">
                        <p class="flow-text"><i class="mdi-communication-phone"></i> (+91) - 9999999999</p>
                    </div>
                    <div class="center-align">
                        <p class="flow-text"><i class="mdi-communication-email"></i> info@sji.com</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <h4 class="center-align"> Get in touch.</h4>
                </div>
                <div class="col s12 m4 l8 offset-m2 offset-l2">
                    <form class="col s12" ng-submit="sendEmail()">
                        <div class="row">
                            <input-field class="input-field col s12"><i class="mdi-social-person prefix"></i> <input
                                    id="name" type="text" class="validate" required="true" ng-model="email.name"> <label
                                    for="name">Name</label></input-field>
                        </div>
                        <div class="row">
                            <input-field class="input-field col s12"><i class="mdi-communication-email prefix"></i>
                                <input id="email" type="email" class="validate" required="true"
                                       ng-model="email.address"> <label for="email">Email</label></input-field>
                        </div>
                        <div class="row">
                            <input-field class="input-field col s12"><i class="mdi-action-subject prefix"></i> <input
                                    id="subject" type="text" class="validate" required="true" ng-model="email.subject">
                                <label for="subject">Subject</label></input-field>
                        </div>
                        <div class="row">
                            <input-field class="input-field col s12"><i class="mdi-communication-message prefix"></i>
                                <textarea id="message" class="materialize-textarea" required="true"
                                          ng-model="email.msg"></textarea> <label for="message">Message</label>
                            </input-field>
                        </div>
                        <div class="row center">
                            <button class="btn waves-effect waves-light teal" type="submit">Send <i
                                    class="mdi-content-send right"></i></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>